[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "packages/zencoding"]
	path = packages/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "packages/zencoding-mode"]
	path = packages/zencoding-mode
	url = git://github.com/rooney/zencoding.git
[submodule "packages/scala-mode"]
	path = packages/scala-mode
	url = git://github.com/Yasushi/scala-mode.git
[submodule "packages/rvm.el"]
	path = packages/rvm.el
	url = git://github.com/senny/rvm.el
[submodule "packages/color-theme"]
	path = packages/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "src-packages/auto-complete"]
	path = src-packages/auto-complete
	url = https://github.com/m2ym/auto-complete.git
